In [1]:
from pathlib import Path

import pandas as pd

data_path = Path.cwd() / "raw_data_2" / "Luftqualitaet_Zusammenfassung.csv"

df = pd.read_csv(data_path, encoding="UTF-8", sep=";")
df = df.rename(
    columns={
        "Stationscode": "code",
        "Stationsname": "name",
        "Stationsumgebung": "area",
        "Art der Station": "type",
        "Timestamp": "timestamp",
        "Einheit": "unit",
        "Feinstaub (PM₁₀)": "pm10",
        "Feinstaub (PM₂,₅)": "pm25",
        "Kohlenmonoxid (CO)": "co",
        "Ozon (O₃)": "o3",
        "Schwefeldioxid (SO₂)": "so2",
        "Stickstoffdioxid (NO₂)": "no2",
    }
)
df = df.drop(columns=["co"])

# to numeric, coerce errors to NaN
pollutant_cols = ["pm10", "pm25", "o3", "so2", "no2"]
for col in pollutant_cols:
    df[col] = pd.to_numeric(df[col], errors="coerce")

# to datetime, coerce errors to NaT
df["timestamp"] = pd.to_datetime(df["timestamp"], errors="coerce")
df["time"] = df["timestamp"].dt.time
df["date"] = df["timestamp"].dt.date

df.head()

C:\Users\L\AppData\Local\Temp\ipykernel_13344\3963767702.py:7: DtypeWarning: Columns (7,8,9,10) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(data_path, encoding="UTF-8", sep=";")

,code,name,area,type,timestamp,unit,pm10,pm25,o3,so2,no2,time,date
0,DEBB021,Potsdam-Zentrum,städtisches Gebiet,Hintergrund,2023-01-01 01:00:00,µg/m³,NaN,NaN,54.0,4.0,8.0,01:00:00,2023-01-01
1,DEBB021,Potsdam-Zentrum,städtisches Gebiet,Hintergrund,2023-01-01 02:00:00,µg/m³,NaN,NaN,59.0,2.0,4.0,02:00:00,2023-01-01
2,DEBB021,Potsdam-Zentrum,städtisches Gebiet,Hintergrund,2023-01-01 03:00:00,µg/m³,NaN,NaN,59.0,1.0,4.0,03:00:00,2023-01-01
3,DEBB021,Potsdam-Zentrum,städtisches Gebiet,Hintergrund,2023-01-01 04:00:00,µg/m³,NaN,NaN,60.0,1.0,4.0,04:00:00,2023-01-01
4,DEBB021,Potsdam-Zentrum,städtisches Gebiet,Hintergrund,2023-01-01 05:00:00,µg/m³,NaN,NaN,61.0,NaN,4.0,05:00:00,2023-01-01

In [2]:
after_newyear_df = df[df["date"] > pd.to_datetime("2023-01-01").date()]

In [3]:
def get_hightimes(df, pollutant):
    max_df = df.groupby(["code", "date"])[pollutant].max().dropna()
    return df.merge(max_df, on=["code", "date", pollutant], how="right")

In [4]:
SHOW_N = 6

for pollutant in pollutant_cols:
    pollutant_df = get_hightimes(df, pollutant)
    print(pollutant_df.info())
    print(f"Highest {pollutant} values:")
    print(f"{pollutant_df['timestamp'].dt.hour.mean():.3f}")
    print(f"{pollutant_df['timestamp'].dt.hour.median()}")

    for time, count in list(pollutant_df["time"].value_counts().items())[:SHOW_N]:
        mean = pollutant_df[pollutant_df["time"] == time][pollutant].mean()
        median = pollutant_df[pollutant_df["time"] == time][pollutant].median()
        std = pollutant_df[pollutant_df["time"] == time][pollutant].std()
        print(f"{time} ({count}): {mean:.3f} (median: {median:.3f}, std: {std:.3f})")
    
    print()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 198142 entries, 0 to 198141
Data columns (total 13 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   code       198142 non-null  object
 1   name       198142 non-null  object
 2   area       198142 non-null  object
 3   type       198142 non-null  object
 4   timestamp  198142 non-null  datetime64[ns]
 5   unit       198142 non-null  object
 6   pm10       198142 non-null  float64
 7   pm25       150751 non-null  float64
 8   o3         128208 non-null  float64
 9   so2        28982 non-null   float64
 10  no2        184324 non-null  float64
 11  time       198142 non-null  object
 12  date       198142 non-null  object
dtypes: datetime64[ns](1), float64(5), object(7)
memory usage: 19.7+ MB
None
Highest pm10 values:
12.441
12.0
23:00:00 (17297): 19.434 (median: 17.000, std: 12.319)
01:00:00 (15069): 21.863 (median: 17.000, std: 39.204)
09:00:00 (12646): 21.856 (median: 19.000, std: 16.357)
22:00:00 (12635): 19.868 (median: 17.000, std: 14.660)
21:00:00 (11160): 20.222 (median: 17.000, std: 15.190)
10:00:00 (10772): 21.170 (median: 19.000, std: 14.148)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 233549 entries, 0 to 233548
Data columns (total 13 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   code       233549 non-null  object
 1   name       233549 non-null  object
 2   area       233549 non-null  object
 3   type       233549 non-null  object
 4   timestamp  233549 non-null  datetime64[ns]
 5   unit       233549 non-null  object
 6   pm10       217356 non-null  float64
 7   pm25       233549 non-null  float64
 8   o3         155308 non-null  float64
 9   so2        25578 non-null   float64
 10  no2        221779 non-null  float64
 11  time       233549 non-null  object
 12  date       233549 non-null  object
dtypes: datetime64[ns](1), float64(5), object(7)
memory usage: 23.2+ MB
None
Highest pm25 values:
12.187
11.0
23:00:00 (20791): 11.764 (median: 10.000, std: 8.534)
01:00:00 (16528): 13.296 (median: 10.000, std: 24.755)
22:00:00 (15100): 11.139 (median: 9.000, std: 8.666)
09:00:00 (14125): 11.079 (median: 9.000, std: 7.870)
08:00:00 (13155): 10.682 (median: 9.000, std: 7.142)
21:00:00 (12787): 11.188 (median: 9.000, std: 10.357)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 134570 entries, 0 to 134569
Data columns (total 13 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   code       134570 non-null  object
 1   name       134570 non-null  object
 2   area       134570 non-null  object
 3   type       134570 non-null  object
 4   timestamp  134570 non-null  datetime64[ns]
 5   unit       134570 non-null  object
 6   pm10       106985 non-null  float64
 7   pm25       89632 non-null   float64
 8   o3         134570 non-null  float64
 9   so2        19886 non-null   float64
 10  no2        119922 non-null  float64
 11  time       134570 non-null  object
 12  date       134570 non-null  object
dtypes: datetime64[ns](1), float64(5), object(7)
memory usage: 13.3+ MB
None
Highest o3 values:
14.316
16.0
16:00:00 (15933): 82.802 (median: 81.000, std: 24.156)
17:00:00 (15822): 89.024 (median: 87.000, std: 22.500)
18:00:00 (13893): 93.242 (median: 92.000, std: 22.587)
15:00:00 (13862): 77.286 (median: 75.000, std: 25.001)
19:00:00 (10323): 93.170 (median: 92.000, std: 23.112)
14:00:00 (10251): 72.801 (median: 71.000, std: 25.299)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 222060 entries, 0 to 222059
Data columns (total 13 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   code       222060 non-null  object
 1   name       222060 non-null  object
 2   area       222060 non-null  object
 3   type       222060 non-null  object
 4   timestamp  222060 non-null  datetime64[ns]
 5   unit       222060 non-null  object
 6   pm10       197269 non-null  float64
 7   pm25       123165 non-null  float64
 8   o3         166125 non-null  float64
 9   so2        222060 non-null  float64
 10  no2        215251 non-null  float64
 11  time       222060 non-null  object
 12  date       222060 non-null  object
dtypes: datetime64[ns](1), float64(5), object(7)
memory usage: 22.0+ MB
None
Highest so2 values:
12.146
12.0
11:00:00 (10736): 2.245 (median: 1.000, std: 4.188)
12:00:00 (10642): 2.243 (median: 1.000, std: 4.338)
10:00:00 (10502): 2.218 (median: 1.000, std: 5.077)
13:00:00 (10385): 2.259 (median: 1.000, std: 5.447)
14:00:00 (10320): 2.136 (median: 1.000, std: 4.011)
15:00:00 (10168): 2.063 (median: 1.000, std: 3.823)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 217983 entries, 0 to 217982
Data columns (total 13 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   code       217983 non-null  object
 1   name       217983 non-null  object
 2   area       217983 non-null  object
 3   type       217983 non-null  object
 4   timestamp  217983 non-null  datetime64[ns]
 5   unit       217983 non-null  object
 6   pm10       181421 non-null  float64
 7   pm25       149636 non-null  float64
 8   o3         152647 non-null  float64
 9   so2        31208 non-null   float64
 10  no2        217983 non-null  float64
 11  time       217983 non-null  object
 12  date       217983 non-null  object
dtypes: datetime64[ns](1), float64(5), object(7)
memory usage: 21.6+ MB
None
Highest no2 values:
13.012
13.0
08:00:00 (23255): 27.066 (median: 25.000, std: 17.480)
23:00:00 (16986): 22.907 (median: 18.000, std: 18.590)
09:00:00 (15219): 25.074 (median: 22.000, std: 17.831)
01:00:00 (14159): 20.965 (median: 16.000, std: 17.151)
22:00:00 (14146): 23.730 (median: 18.000, std: 19.978)
20:00:00 (13412): 28.988 (median: 25.000, std: 23.016)